/* =============================================================

	Tabby 4.0
	Simple, mobile-first toggle tabs by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */

/*  Hide tab navigation by default */
.tabs {
	display: none;
	visibility: hidden;
}

/*  Display tab navigation if javascript enabled.
 *  This requires on the included js-accessibility.js script. */
.js .tabs {
	display: block;
	visibility: visible;
}

/*  Force browser to show a pointer on tab navigation. */
.tabs a,
.tabs button {
	cursor: pointer;
}

/*  Hide tab content if javascript is enabled. */
.js .tabs-pane {
	display: none;
	visibility: hidden;
}

/*  Show tab content when active class is added.
 *  This class is added via javascript. */
.tabs-pane.active {
	display: block;
	visibility: visible;
}

/* Clearfix */
.tabs:before,
.tabs:after {
	display: table;
	content: "";
}

.tabs:after {
	clear: both;
}